PORT=define_port_number
SERVER_NAME=Technical Assesment - Real-time high traffic inventory system
SERVER_URL=http://localhost:define_port_number

DATABASE_URL=postgresql://username:password@host:port/database_name?options
